body {
    background-color: lightyellow;
}

li {
    padding: 10px;
    margin: 10px;
  }
  
  /* .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  } */
  

  
  


  
  h1 {
    height: 100px;
    text-align: center;
  }